{% extends "base.html.jinja" %}
{% block left_panel }
    <h2>Lista samochodów w kategorii {{category}}</h2>
    <div class="list-group">
        {% for car in cars %}
            <a type="button" class="list-group-item list-group-item-action" href="{% url 'car' car.id %}"
        {% endfor %}    
    </div>

{% endblock left_panel }