{% extends "base.html.jinja" %}
{% block left_panel %}
    <h2>Formularz rejestracji</h2>
    {% if message is defined %}
        <p>{message}</p>
    {% else %}
    {% endif %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{form_user_register}}
        <button type="submit">Zarejestruj</button>
    </form>
{% endblock left_panel %}